<html>
	<head>
		<script type="text/javascript" src="THP_Library.js"></script>
	</head>
    <body>
        <object id="myplugin" type="application/x-monoclegl" width="480" height="320"></object>
		<script type="text/javascript" src="Main.js"></script>
		<script type="text/javascript">
			var plugin = document.getElementById("myplugin");
			monoclegl_initialize(plugin)
			if(window.startDemo) {
				window.startDemo(plugin,"http://thm-media.s3.amazonaws.com/edumacation/gfx/");
			}
		</script>
    </body>
</html>
